<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Аудиофайлы</title>
</head>
<body style="background: black">
	{% block content %}
	<div align="center" style="margin-top: 20%;">
	<audio autoplay controls src={{sight.audio.url}} type="audio/ogg; codecs=vorbis"></audio>
		
	</div>
	{% endblock %}
</body>
</html>



 	
 
 
