{% extends "mainApp/wrapper.html" %}

{% block content %}
{% for post in object_list %}
 <a href="/webexample/{{post.id}}"><h3>{{post.title}}</h3></a>
 <textarea disabled rows="21%" cols="80%">{{post.text}}</textarea>
 <img style="width: 50%; height: 50%;" src="{{post.photo.url}}">
 <embed > </embed>
 <audio controls src={{post.audio.url}} type="audio/ogg; codecs=vorbis"> 
    
  </audio>
{% endfor %}
{% endblock %}