{% extends "mainApp/wrapper.html" %}

{% block content %}
 <a href="/webexample/{{Sight.id}}"><h3>{{sight.title}}</h3></a>
 <textarea disabled rows="21%" cols="80%">{{sight.text}}</textarea>
 <img style="width: 50%; height: 50%;" src="{{sight.photo.url}}">
 <embed > </embed>
 <audio controls src={{sight.audio.url}} type="audio/ogg; codecs=vorbis"> 
    
  </audio>
{% endblock %}